[submodule "external/readerwriterqueue"]
	path = external/readerwriterqueue
	url = https://github.com/cameron314/readerwriterqueue
[submodule "ssp-sdk"]
	path = ssp-sdk
	url = https://github.com/TheTechnobear/ssp-sdk
[submodule "juce"]
	path = juce
	url = https://github.com/TheTechnobear/juce
